body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* - - - - - - - - - - Reused colors, fonts, sizing, etc - - - - - - - - - */

.display-title {
  font-family: 'Markazi Text';
  font-style: medium;
  font-weight: 500;
  font-size: 53px;
}
.sub-title {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
}
.karla-regular {
  font-family: 'Karla';
  font-style: medium;
  font-weight: 400;
  font-size: 19px;
}

/* - - - - - - - - - - Header - - - - - - - - - */

header {
  padding: 22px 0;
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* - - - - - - - - - - Navbar - - - - - - - - - */
nav {
  margin-top: 3px;
}
.h-logo {
  width: 230px;
  height: 70px;
}
.nav-links {
  display: flex;
  padding-left: 0;
  gap: 25px;
  margin-right: 10px;
}
.nav-links > li {
  /* margin: 0 5px; */
  font-weight: bold;
  list-style: none;
  color: #333333;
}
.hero, .high, .test, .about {
  width: 100%;
}

/* - - - - - - - - - -  Hero section - - - - - - - - - - */

.hero {
  background: #495E57;
  height: 383px;
}
.hero-container, .about-container {
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 850px;
}
.hero-content {
  flex: 1;
  padding: 10px;
}
.hero-text {
  padding-right: 15px;
}
#hero-heading {
  margin: 10px 0 0 0;
  color: #F4CE14;
}
#hero-subheading {
  margin: 3px 0;
  color: #FFFFFF;
}
#hero-paragraph {
  color: #EDEFEE;
  margin-bottom: 0;
  max-width: 300px;
}
#reserve {
  width: 190px;
  height: 55px;
  border-radius: 16px;
  border-style: none;
  margin-top: 25px;
  background: #F4CE14;
  color: #333333;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 19px;
}
#hero-img {
  position: relative;
  top: 50px;
  max-width: 300px; /* Make the image responsive */
  height: auto;
  border-radius: 16PX;
}

/*   Highlights section */

.high-container {
  max-width: 950px;
  margin: 0 auto;
  padding: 100px 0 50px 0;
}
.high-top {
  max-width: 850px;
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.high-top > h2 {
  margin: 0;
  font-weight: bold;
}
.high-top > button {
  width: 190px;
  height: 55px;
  border-radius: 16px;
  border-style: none;
  margin-right: 10px;
  background: #F4CE14;
  color: #333333;
  font-family: 'Karla';
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
}
.menu-items {
  width: 100%;
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: space-around;
}
.menu-items > li {
  position: relative;
  width: 260px;
  height: 460px;
  background: #EDEFEE;
  border-radius: 16px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.menu-img {
  width: 100%;
  height: 45%;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card-text {
  margin: 0 25px;
}
.card-title {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title h4 {
  margin: 0;
}
.card-title > p {
  margin: 0;
  color: #EE9972;
}
.card-description {
  max-height: 100px;
  margin: 0;
  margin-bottom: auto;
  font-size: 16px;
}
.delivery-text {
  position: absolute;
  bottom: 0;
  padding-bottom: 23px;
  display: flex;
  align-items: center;
}
.delivery-text p {
  margin: 0;
}
.scooter{
  width: 20px;
  height: 20px;
  margin-left: 9px;
}

/* - - - - - Testimonials section - - - - - - - - - */

.test {
  background: #495E57;
  height: 540px;
}
#test-header {
  margin: 0 auto 60px auto;
  text-align: center;
  color: #EDEFEE;
}
.reviews {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 15px;
  padding: 0;
}
.reviews > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  height: 330px;
  border-radius: 8%;
  background: #FBDABB;
}
.rating {
  font-size: 20px;
  color: #333333;
  border-bottom: 3px solid #EE9972;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  margin-top: 15px;
}
.img-name-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 23px;
}
.rev-img {
  border-radius: 50%;
  width: 95px;
  height: 105px;
  border: 1px solid black;
}
.img-name-container > h4 {
  font-size: 18px;
  color: #333333;
  font-family: 'Karla';
  font-style: normal;
  font-weight: bold;
}
.reviews > li > p {
  font-size: 16px;
  color: #333333;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  margin: 25px 0;
  width: 90%;
}

/*  - - - - About section - - - -  */

.about {
  background: #EE9972;
  height: 430px;
}
.about-text-section {
  margin: auto 0;
  width: 390px;
  height: 345px;
}
#about-heading {
  margin: 10px 0 0 0;
  color: #F4CE14;
}
#about-subheading {
  margin: 3px 0;
  color: #FFFFFF;
}
#about-paragraph {
  color: #EDEFEE;
  margin-bottom: 0;
  max-width: 90%;
}
.about-img-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#bros-img-1 {
  position: relative;
  top: 30px;
  z-index: 1;
  width: 300px;
  height: 200px;
  border-radius: 3%;
}
#bros-img-2 {
  position: relative;
  bottom: 20px;
  right: 60px;
  width: 300px;
  height: 200px;
  border-radius: 3%;
}

/* - - - - - - - - - - Footer section - - - - - - - - - */

footer {
  background: #F4CE14;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}
footer img {
  width: 105px;
  height: 170px;
  border-radius: 1%;
}
.footer-container {
  height: 170px;
  /* width: 180px; */
  text-align: left;
}
.footer-container h4{
  margin-top: 0;
  margin-bottom: 10px;
  color: #495E57;
  font-weight: bold;
}
.center-links {
  padding: 0;
}
.footer-container li {
  color:#333333;
  list-style: none;
  margin: 5px 0;
  font-size: 16px;
}

/* ----------------------------------- Media Responsiveness --------------------------- */

@media (max-width: 875px) {
  .h-logo {
    width: 180px;
    height: 60px;
    padding: 0 30px;
  }
  .nav-links {
    gap: 17px;
  }
  .nav-links > li {
    font-size: 17px;
  }
 .menu-items > li {   /* highlights */
  width: 230px;
  height: 430px;
  }
  .card-description {
    height: 60px;
    font-size: 14px;
  }

}

@media (max-width: 740px) {
  .nav-links {
    gap: 15px;
  }
  .nav-links > li {
    font-size: 15px;
  }
  .high-top {
    padding: 17px 0 17px 10px;
  }
  .card-title {
    padding: 11px 0 6px 0;
  }
  .menu-items > li {
    height: 370px;
    }
  .card-description {
    height: 60px;
    font-size: 13px;
  }
}

@media (max-width: 681px) {
  .nav-links {
    display: none;
  }
  .h-logo {
    width: 180px;
    height: 60px;
    padding: 0 30px;
    margin-right: auto;
  }
  .hamburger-icon {
    /* Add your background image or SVG icon here */
    /* Example using a background image */
    background-image: url('./assets/hamburger.svg');
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
    margin-right: 25px;
  }

  #hero-heading {
    font-size: 45px;
  }
  #hero-subheading {
    font-size: 25px;
  }
  #hero-paragraph {
    font-size: 16px;
  }
  #reserve {
    width: 190px;
    height: 55px;
    border-radius: 16px;
    border-style: none;
    margin-top: 25px;
    background: #F4CE14;
    color: #333333;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 19px;
  }
  #hero-img {
    position: relative;
    top: 50px;
    max-width: 300px;
    height: auto;
    border-radius: 16PX;
  }
}

@media (max-width: 670px) {
  .high-top  h2 {
    font-size: 40px;
  }
  .menu-items > li {   /* highlights */
    width: 180px;
    height: 340px;
    }
  .card-title h4, .card-title p, .delivery-text p {
    font-size: 14px;
  }
  .card-description  {
    font-size: 12px;
  }
  .delivery-text {
    padding-bottom: 17px;
  }
  .scooter{
    width: 17px;
    height: 17px;
    margin-left: 9px;
  }
}

@media (max-width: 555px) {
  #hero-img {
    top: 0;
    max-width: 200px;
    height: auto;
  }
  .high-container {
    padding: 25px 0;
  }
  .high-top  h2 {
    font-size: 32px;
  }
  .high-top > button {
    width: 160px;
    height: 45px;
    font-size: 17px;
  }
  .menu-items > li {   /* highlights */
    width: 140px;
    height: 270px;
    }
  .card-title h4, .card-title p, .delivery-text p {
    font-size: 9px;
  }
  .card-description  {
    font-size: 8px;
  }
  .delivery-text {
    padding-bottom: 14px;
  }
  .scooter{
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 480px) {
}
